<!doctype html>
<html>
	<head>
		<title>Base page for design</title>
		<link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="daemon.css">
	</head>
	<body>
		<header class="page">
			<div class="wrapper">
				<h1>Base page for a design</h1>
			</div>
		</header>
			
		<div class="wrapper">
			<header class="section">
				<h2>First section</h2>
			</header>
			<section>
				<p>Small batch PBR tattooed swag. Messenger bag est nesciunt, consectetur pop-up eiusmod occaecat biodiesel authentic you probably haven't heard of them irony echo park farm-to-table fingerstache. Eu cray quis, craft beer marfa minim gastropub kale chips thundercats ethical nihil ennui aliquip. Ethical tattooed sustainable ex hoodie quinoa enim, dolore williamsburg small batch odio delectus helvetica veniam trust fund. Before they sold out master cleanse blog elit quis pour-over kale chips ut. Portland nostrud fingerstache art party post-ironic, narwhal cosby sweater sriracha. Proident swag pitchfork, lomo bushwick enim freegan 3 wolf moon.</p>
				<p>Quinoa nisi tempor, artisan et photo booth keytar street art aute helvetica organic godard PBR mumblecore excepteur. Keffiyeh marfa tattooed, sartorial delectus put a bird on it eiusmod pour-over +1 tempor reprehenderit et skateboard. Odio selvage chambray art party. Aliqua consequat mixtape, pop-up incididunt messenger bag swag yr. Nesciunt banksy brooklyn squid tempor. Elit nisi commodo keffiyeh, pinterest helvetica freegan vinyl dreamcatcher pickled carles photo booth. Pork belly fanny pack readymade fugiat portland semiotics, four loko direct trade nulla odd future master cleanse anim pickled sapiente.</p>
				<p>Tofu trust fund etsy Austin, butcher nisi cliche photo booth mustache swag lomo twee nostrud yr fixie. Ad wes anderson cardigan, scenester photo booth mollit quinoa ut bushwick nostrud master cleanse qui stumptown. Quinoa exercitation organic, yr butcher hella keffiyeh keytar put a bird on it direct trade skateboard excepteur. Pariatur kale chips DIY consectetur, est occupy bespoke photo booth gastropub. Pinterest commodo forage 3 wolf moon vice portland, pork belly stumptown gluten-free qui culpa cillum keffiyeh cred before they sold out. Brooklyn messenger bag sapiente keffiyeh. Jean shorts art party accusamus, officia aute magna hella Austin artisan ennui incididunt consequat.</p>
				<p>Williamsburg readymade mustache raw denim, odio chambray do before they sold out banh mi incididunt duis polaroid cred. Banh mi seitan keytar VHS eu. Pinterest sriracha squid odd future, esse williamsburg trust fund ennui narwhal aute quis yr umami do. Ut ethical incididunt cliche, non swag hella messenger bag single-origin coffee cray. Ethnic organic incididunt high life brunch yr, pickled dreamcatcher bicycle rights. Carles eu id esse pop-up. Tempor sartorial 8-bit quis ex.</p>
			</section>
			
			<header class="section">
				<h2>Second section</h2>
			</header>
			<section>
				<aside class="left">
					<h3>Left aside</h3>
					<p>
						This section has an aside on the left-hand side of the content. It has a max-width of 220px.
					</p>
				</aside>
				
				<p>Small batch PBR tattooed swag. Messenger bag est nesciunt, consectetur pop-up eiusmod occaecat biodiesel authentic you probably haven't heard of them irony echo park farm-to-table fingerstache. Eu cray quis, craft beer marfa minim gastropub kale chips thundercats ethical nihil ennui aliquip. Ethical tattooed sustainable ex hoodie quinoa enim, dolore williamsburg small batch odio delectus helvetica veniam trust fund. Before they sold out master cleanse blog elit quis pour-over kale chips ut. Portland nostrud fingerstache art party post-ironic, narwhal cosby sweater sriracha. Proident swag pitchfork, lomo bushwick enim freegan 3 wolf moon.</p>
				<p>Quinoa nisi tempor, artisan et photo booth keytar street art aute helvetica organic godard PBR mumblecore excepteur. Keffiyeh marfa tattooed, sartorial delectus put a bird on it eiusmod pour-over +1 tempor reprehenderit et skateboard. Odio selvage chambray art party. Aliqua consequat mixtape, pop-up incididunt messenger bag swag yr. Nesciunt banksy brooklyn squid tempor. Elit nisi commodo keffiyeh, pinterest helvetica freegan vinyl dreamcatcher pickled carles photo booth. Pork belly fanny pack readymade fugiat portland semiotics, four loko direct trade nulla odd future master cleanse anim pickled sapiente.</p>
				<p>Tofu trust fund etsy Austin, butcher nisi cliche photo booth mustache swag lomo twee nostrud yr fixie. Ad wes anderson cardigan, scenester photo booth mollit quinoa ut bushwick nostrud master cleanse qui stumptown. Quinoa exercitation organic, yr butcher hella keffiyeh keytar put a bird on it direct trade skateboard excepteur. Pariatur kale chips DIY consectetur, est occupy bespoke photo booth gastropub. Pinterest commodo forage 3 wolf moon vice portland, pork belly stumptown gluten-free qui culpa cillum keffiyeh cred before they sold out. Brooklyn messenger bag sapiente keffiyeh. Jean shorts art party accusamus, officia aute magna hella Austin artisan ennui incididunt consequat.</p>
				<p>Williamsburg readymade mustache raw denim, odio chambray do before they sold out banh mi incididunt duis polaroid cred. Banh mi seitan keytar VHS eu. Pinterest sriracha squid odd future, esse williamsburg trust fund ennui narwhal aute quis yr umami do. Ut ethical incididunt cliche, non swag hella messenger bag single-origin coffee cray. Ethnic organic incididunt high life brunch yr, pickled dreamcatcher bicycle rights. Carles eu id esse pop-up. Tempor sartorial 8-bit quis ex.</p>
			</section>
			
			<header class="section">
				<h2>Third section</h2>
			</header>
			<section>
				<aside class="right">
					<h3>Right aside</h3>
					<p>
						This section has an aside on the right-hand side of the content. It has a max-width of 220px.
					</p>
				</aside>
				
				<p>Small batch PBR tattooed swag. Messenger bag est nesciunt, consectetur pop-up eiusmod occaecat biodiesel authentic you probably haven't heard of them irony echo park farm-to-table fingerstache. Eu cray quis, craft beer marfa minim gastropub kale chips thundercats ethical nihil ennui aliquip. Ethical tattooed sustainable ex hoodie quinoa enim, dolore williamsburg small batch odio delectus helvetica veniam trust fund. Before they sold out master cleanse blog elit quis pour-over kale chips ut. Portland nostrud fingerstache art party post-ironic, narwhal cosby sweater sriracha. Proident swag pitchfork, lomo bushwick enim freegan 3 wolf moon.</p>
				<p>Quinoa nisi tempor, artisan et photo booth keytar street art aute helvetica organic godard PBR mumblecore excepteur. Keffiyeh marfa tattooed, sartorial delectus put a bird on it eiusmod pour-over +1 tempor reprehenderit et skateboard. Odio selvage chambray art party. Aliqua consequat mixtape, pop-up incididunt messenger bag swag yr. Nesciunt banksy brooklyn squid tempor. Elit nisi commodo keffiyeh, pinterest helvetica freegan vinyl dreamcatcher pickled carles photo booth. Pork belly fanny pack readymade fugiat portland semiotics, four loko direct trade nulla odd future master cleanse anim pickled sapiente.</p>
				<p>Tofu trust fund etsy Austin, butcher nisi cliche photo booth mustache swag lomo twee nostrud yr fixie. Ad wes anderson cardigan, scenester photo booth mollit quinoa ut bushwick nostrud master cleanse qui stumptown. Quinoa exercitation organic, yr butcher hella keffiyeh keytar put a bird on it direct trade skateboard excepteur. Pariatur kale chips DIY consectetur, est occupy bespoke photo booth gastropub. Pinterest commodo forage 3 wolf moon vice portland, pork belly stumptown gluten-free qui culpa cillum keffiyeh cred before they sold out. Brooklyn messenger bag sapiente keffiyeh. Jean shorts art party accusamus, officia aute magna hella Austin artisan ennui incididunt consequat.</p>
				<p>Williamsburg readymade mustache raw denim, odio chambray do before they sold out banh mi incididunt duis polaroid cred. Banh mi seitan keytar VHS eu. Pinterest sriracha squid odd future, esse williamsburg trust fund ennui narwhal aute quis yr umami do. Ut ethical incididunt cliche, non swag hella messenger bag single-origin coffee cray. Ethnic organic incididunt high life brunch yr, pickled dreamcatcher bicycle rights. Carles eu id esse pop-up. Tempor sartorial 8-bit quis ex.</p>
			</section>
			
			<header class="section">
				<h2>Fourth section</h2>
			</header>
			<section>
				<p>Small batch PBR tattooed swag. Messenger bag est nesciunt, consectetur pop-up eiusmod occaecat biodiesel authentic you probably haven't heard of them irony echo park farm-to-table fingerstache. Eu cray quis, craft beer marfa minim gastropub kale chips thundercats ethical nihil ennui aliquip. Ethical tattooed sustainable ex hoodie quinoa enim, dolore williamsburg small batch odio delectus helvetica veniam trust fund. Before they sold out master cleanse blog elit quis pour-over kale chips ut. Portland nostrud fingerstache art party post-ironic, narwhal cosby sweater sriracha. Proident swag pitchfork, lomo bushwick enim freegan 3 wolf moon.</p>
				
				<aside class="left">
					<h3>Another left aside</h3>
					<p>
						This section has an aside on the left-hand side of the content, but slightly further into the section. It has a max-width of 220px.
					</p>
				</aside>
				
				<p>Quinoa nisi tempor, artisan et photo booth keytar street art aute helvetica organic godard PBR mumblecore excepteur. Keffiyeh marfa tattooed, sartorial delectus put a bird on it eiusmod pour-over +1 tempor reprehenderit et skateboard. Odio selvage chambray art party. Aliqua consequat mixtape, pop-up incididunt messenger bag swag yr. Nesciunt banksy brooklyn squid tempor. Elit nisi commodo keffiyeh, pinterest helvetica freegan vinyl dreamcatcher pickled carles photo booth. Pork belly fanny pack readymade fugiat portland semiotics, four loko direct trade nulla odd future master cleanse anim pickled sapiente.</p>
				<p>Tofu trust fund etsy Austin, butcher nisi cliche photo booth mustache swag lomo twee nostrud yr fixie. Ad wes anderson cardigan, scenester photo booth mollit quinoa ut bushwick nostrud master cleanse qui stumptown. Quinoa exercitation organic, yr butcher hella keffiyeh keytar put a bird on it direct trade skateboard excepteur. Pariatur kale chips DIY consectetur, est occupy bespoke photo booth gastropub. Pinterest commodo forage 3 wolf moon vice portland, pork belly stumptown gluten-free qui culpa cillum keffiyeh cred before they sold out. Brooklyn messenger bag sapiente keffiyeh. Jean shorts art party accusamus, officia aute magna hella Austin artisan ennui incididunt consequat.</p>
				<p>Williamsburg readymade mustache raw denim, odio chambray do before they sold out banh mi incididunt duis polaroid cred. Banh mi seitan keytar VHS eu. Pinterest sriracha squid odd future, esse williamsburg trust fund ennui narwhal aute quis yr umami do. Ut ethical incididunt cliche, non swag hella messenger bag single-origin coffee cray. Ethnic organic incididunt high life brunch yr, pickled dreamcatcher bicycle rights. Carles eu id esse pop-up. Tempor sartorial 8-bit quis ex.</p>
			</section>
		</div>
		
		<footer class="page">
			<div class="wrapper">
				<strong>Page footer goes here.</strong> It can be pretty much anything. Lorem ipsum indeed.
			</div>
		</footer>
	</body>
</html>
